<p class="subheader">Chief Complaint:</p>
<p class="text"><%= @encounter.soap.chief_complaint %></p>
<hr>
<p class="subheader">Subjective:</p>
<p class="text"><%= @encounter.soap.subjective %></p>
<hr>
<p class="subheader">Objective:</p>
<p class="text"><%= @encounter.soap.objective %></p>
<hr>
<p class="subheader">Assessment & Plan:</p>
<p class="text"><%= @encounter.soap.assessment_and_plan %></p>