<%= render 'layouts/flash' %>

<h2>Welcome, <%= @provider.name %></h2>

<p>Reminders/Sticky Note</p>
<p>Inbox/Messaging</p>
<%= link_to "Create/Search Patient", provider_patients_path(@provider) %>
<p>Schedule</p>