<div class="subcontainer-col">
    <h1 id="temp">Welcome, Dr. <%= full_name(@provider) %></h1>
    <%= render 'layouts/flash' %>
</div>

<div class="subcontainer-row">
    <div class="wrapper-row-links first-link">
        <a href="#">Reminders/Sticky Note</a>
    </div>
    <div class="wrapper-row-links">
        <a href="#">Inbox/Messaging</a>
    </div>
    <div class="wrapper-row-links">
        <%= link_to "Create/Search Patient", provider_patients_path(@provider) %>
    </div>
    <div class="wrapper-row-links last-link">
        <a href="#">Schedule</a>
    </div>
</div>
