<%= render 'layouts/flash' %>

<h2>Welcome, Dr. <%= full_name(@provider) %></h2>

<p>Reminders/Sticky Note</p>
<p>Inbox/Messaging</p>
<%= link_to "Create/Search Patient", provider_patients_path(@provider) %>
<p>Schedule</p>
<br>
<%= button_to "Delete Account", provider_path(@provider), method: :delete, data: {confirm: "You are about to permanently delete a provider account. ALL of your data will be lost. Are you sure?"} %>
