<h2>Login</h2>

<%= render 'layouts/flash' %>

<% if request.env['PATH_INFO'] == "/providers/login" %>
    <%= render 'form', {path: '/providers/login'} %>
<% elsif request.env['PATH_INFO'] == "/patients/login" %>
    <%= render 'form', {path: '/patients/login'} %>
<% end %>