<li><%= link_to "#{formatted_date(encounter.created_at)} [#{encounter.encounter_type.titleize}]", patient_encounter_path(@patient, encounter) %> <em>(Dr. <%= full_name(encounter.provider) %>)</em></li>
<hr>