<h1>Paperless Paper Chart</h1>
<p>Welcome to Paperless Paper Chart, the world's most versatile and clutter-free EMR system.</p>

<h3>Providers:</h3>
<p>New to PPC? <%= link_to "Create an account", new_provider_path %> to get started!</p>
<p>Or if you have an account, <%= link_to "click here to log in", providers_login_path %>.</p>

<h3>Patients:</h3>
<p>First time user? Sign up here!</p>
<p>Already have an account? Log in here!</p>