// Place all the styles related to the Encounters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.encounter-type-form {
    width: 300px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.encounter-form {
    width: 620px;
    margin-top: 10px;
    margin-bottom: 75px;
}
