<% if object.errors.any? %>
    <ul>
    <% object.errors.full_messages.each do |msg| %>
        <div id="flash-alert">
            <li><%= msg %></li>
        </div>
    <% end %>
    </ul>
<% end %>