<% if flash[:alert] %>
    <div id="flash-alert">
        <p><%= flash[:alert] %></p>
    </div>
<% end %>

<% if flash[:notice] %>
    <div id="flash-notice">
        <p><%= flash[:notice] %></p>
    </div>
<% end %>