<% if flash[:alert] %>
    <div>
        <p id="flash-alert"><%= flash[:alert].html_safe %></p>
    </div>
<% end %>

<% if flash[:notice] %>
    <div>
        <p id="flash-notice"><%= flash[:notice] %></p>
    </div>
<% end %>